body{background-image: url("./images/background.jpg");}

#taust1{
	margin-top: -10px;
	margin-left: -10px;
}

#taust2{
	margin-top: -60px;
	margin-right: -10px;
}

.pokertable{
	background-image: url("./images/board.png");
	background-repeat:no-repeat;
}

.cardback{
	margin-top: 60px;
	width: 50px;
	height: 75px;
	background-image: url("./images/card back.png");
}

.cardbacksmall{
	margin-top: 60px;
	width: 34px;
	height: 50px;
	background-image: url("./images/card back small.png");
}

.acard{
	margin-top: 60px;
	width: 34px;
	height: 50px;
	background-image: url("./images/d6.png");
}

.zoom{
	margin-left: -60px;
	width: 240px;
	height: 80px;
	position: relative;
	background-image: url("./images/zoomed.png");
}

.table{
	margin-left: auto;
	margin-right: auto;
}

.table2{margin-top: 50px;}
.table20{margin-top: -20px;}
.table3{margin-top: -50px;}
.table30{margin-top: -20px;}
.whitespace1{width: 150px;}
.whitespace2{width: 80px;}

.pot{
	margin-top: 60px;
	margin-left: 50px;
	width: 120px;
	height: 70px;
}

#pot{
	margin-top: -55px;
	margin-left: 10px;
	color:339999;
	font-size: 2em; 
	}

.chatbox{
	background-color: #000000;
	border: 1px solid;
	height: 230px;
	margin-top: 70px;
	width: 600px;
	-moz-border-radius: 40px;
}

.chatarea{
color:#00ff00;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	height: 185px;
	overflow: auto;
}

.textbox{
	margin-left: 20px;
	margin-top: 2px;
}

.namebox{
	margin-top: -75px;
	
	}
	
.name	{
	margin-left: 20px;
	margin-top: -118px;
}

.stack {
	margin-left: 20px;
	margin-top: -5px;
}

.bet {
	margin-top: 15px;
	margin-left: 30px;
	}

#player11{margin-top: 60px;}
#player12{margin-top: -75px;margin-left: 27px;}
#player21{margin-top: 60px;}
#player22{margin-top: -75px;margin-left: 27px;}
#player31{margin-top: 60px;}
#player32{margin-top: -75px;margin-left: 27px;}
#player41{margin-top: 60px;}
#player42{margin-top: -75px;margin-left: 27px;}
#player51{margin-top: 60px;}
#player52{margin-top: -75px;margin-left: 27px;}
#player61{margin-top: 60px;}
#player62{margin-top: -75px;margin-left: 27px;}
#player71{margin-top: 60px;}
#player72{margin-top: -75px;margin-left: 27px;}
#player81{margin-top: 60px;}
#player82{margin-top: -75px;margin-left: 27px;}
#player91{margin-top: 60px;}
#player92{margin-top: -75px;margin-left: 27px;}
#player101{margin-top: 60px;}
#player102{margin-top: -75px;margin-left: 27px;}

#sisend{width: 50px;}
#sisend2{width: 50px;}

.roll{
	margin-top: -65px;margin-left: 80px;
	}