body {background-image:url('twit10.jpg');} 
#pokker {
		width:800px;
		height:440px;
		margin-top: 0px;
		background-image:url('table copy.png');
		}

.player{
	left:0px;
	margin-top: 60px;	
	width:50px;
	height:75px;
	background-image:url('ass.png');
	}
.player2{
	left:0px;
	margin-top: 60px;	
	width:34px;
	height:50px;
	background-image:url('ass.png');
}

.cardbacksmall{
	left:0px;
	margin-top: 60px;	
	width:34px;
	height:50px;
	background-image:url('card back small.png');
	}
.ykskaart{
	left:0px;
	margin-top: 60px;	
	width:34px;
	height:50px;
	background-image:url('r6.png');
	}

.cardback{
	left:0px;
	margin-top: 60px;	
	width:50px;
	height:75px;
	background-image:url('card back.png');
	}

.suurenda{	
	margin-left: -60px;
	width:240px;
	height:80px;
	position:relative;
	background-image:url('1small.png');
	display: block;
	
}
#tabel {
	left:0px;
	width:200px;
	height:600px;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 0px;
	}
	
#vahe {width:100px;}
#vahe2 {width:80px;}

.pot {
	margin-top: 60px;
	margin-left: 50px;
	width:120px;
	height:70px;
	background-color: green;
	-moz-border-radius: 50px;
	border: 1px solid black;
	}

	
#kaardid{margin-top: 10px;}
	
#chatbox{
    background-color: #494B49;
    border: 1px solid black;
    float: left;
    height: 230px;
    margin-top: 70px;
    padding: 5px;
    width: 600px;
    -moz-border-radius: 50px;
	}
	
.chatarea{
    margin-left: 20px;
	}
#button{
	margin-top: 100px;
	}
.alumineriba{margin-left: 20px;}